
<nav class="navbar navbar-expand-md fixed-top" style="left:70px; height:79px; border-bottom:1px solid #e6e6e6;">
    
    <div class="navbar-brand" style="border-right: 1px solid #e6e6e6; padding-right: 10px;">
        <img src="assets/images/healthcode.png" width="" height="" >
    </div>&nbsp;
    <div><span class="user-header">Users</span><span style="color:#94999D;">&nbsp; / &nbsp;</span><span class="sub-header">{{'Add User'}}</span></div>
        
    <div class="navbar-nav ml-auto" style="margin: 0;">
        <li class="nav-item " style="margin-right:10px; ">
                <div style="border-right:1px solid #e6e6e6; padding:5px 30px 0px 0px; ">
                    <img src="assets/images/notification.png" width="" height="" >
                </div>                        
            </li>
        <li class="nav-item " style="padding:0px 20px 0 15px; " >
            <div class="round" style="background-color: #DD5D80; ">
                <span style="padding:0px;">TH</span>
            </div>                        
        </li>
    </div>   
        
   
</nav>
