


<div id="SP" class="tabContent">
  <br><br><br>
 <div class='flex-containerAddUser cursor-default'>
    <div>
        <img src="assets/images/noun_Add User_1140987.svg" width="100" height="100">
    </div>
    <br>
    <p style="font-weight: 600; font-size: 32px; margin-bottom: 0;">Add user</p>
    <p style="font-size: 12px; color: #94999D;">Lorem ipsum is simply dummy text of the printing</p><br><br><br>
    <p style="font-weight: 600; font-size: 18px;">Enter the Specialist code to add a new user</p>
    <form class='flex-containerAddUser'>
        <div class="form-group wrapper" style="margin-bottom: 30px;">
            <input type="number " class="form-control sp-class" id="SPid" style="height: 60px; width: 294px; font-size:18px" placeholder="XXXXXXX">
        </div>
        <div style="margin-bottom: 30px;">
            <a style="font-size:12px; color:#00A1DE; text-decoration: underline; font-weight: 600; cursor:pointer;"><span>Browse from list?</span></a>
        </div>
       
        <input type="button" value="NEXT" class="btn sp-button" (click)="switchAddUserContent('userType')">
    </form>
    
 </div>
</div>

<div id="userType" class="tabContent">
  <br><br><br>
   <div class='flex-containerAddUser cursor-default'>
      <div>
          <img src="assets/images/noun_Add User_1140987.svg" width="100" height="100">
      </div>
      <br>
      <p style="font-weight: 600; font-size: 32px; margin-bottom: 0;">Add user</p>
      <p style="font-size: 12px; color: #94999D;">Lorem ipsum is simply dummy text of the printing</p>
      <div class="sp-num" (click)="switchAddUserContent('SP')"><span>{{'SP930012'}}</span></div>
      <p style="font-size:18px; font-weight: 600;">Select user type</p>
      <div class="flex-container">
          <div class='flex-containerAddUser usr-type' (click)="switchAddUserContent('formFill')">
             
              <div><img src="assets/images/group.png" class="usr-type-img"></div>
              <div><img src="assets/images/group-hover.png" class="usr-type-img2"></div>
              <div class="roundColor">Group</div>
          </div>
          <div class='flex-containerAddUser usr-type' (click)="switchAddUserContent('formFill')">
              
              <div><img src="assets/images/healthcode-usr.png" class="usr-type-img"></div>
              <div><img src="assets/images/healthcode-hover.png" class="usr-type-img2"></div>
              <div class="roundColor">Healthcode</div>
          </div>
          <div class='flex-containerAddUser usr-type' (click)="switchAddUserContent('formFill')">
              
              <div><img src="assets/images/medical-center.png" class="usr-type-img"></div>
              <div><img src="assets/images/medical-center-hover.png" class="usr-type-img2"></div>
              <div class="roundColor">Medical Center</div>
          </div>
          <div class='flex-containerAddUser usr-type' (click)="switchAddUserContent('formFill')">
              
              <div><img src="assets/images/provider.png" class="usr-type-img"></div>
              <div><img src="assets/images/provider-hover.png" class="usr-type-img2"></div>
              <div class="roundColor">Provider</div>
          </div>
          
      </div>
   </div>
</div>

<div id="formFill" class="tabContent">
    <nav class="navbar navbar-expand-sm flex-container fixed-top" style=" top: 79px; left: 70px; padding:0;">
    <div class="tab-header tab-tooltip" id="usrInf" href="#head1" pageScroll [pageScrollInterruptible]="false"
    [pageScrollDuration]="500" (click)="changeColor(1)"> 
      <img [hidden]="!addImg[0]" src="assets/images/user-info.svg" width="20" height=""  >
      <img [hidden]="addImg[0]" src="assets/images/user-info-white.png" width="20" height=""  >
      <span id="usrInf2" class="span-info tab-toggle">User Information</span>
      <span class="tooltiptext">User Information</span>
    </div>
    <div class="tab-header tab-tooltip" id="pr" href="#head2" pageScroll [pageScrollInterruptible]="false"
    [pageScrollDuration]="500" (click)="changeColor(2)"> 
      <img [hidden]="!addImg[1]" src="assets/images/profile.svg" width="20" height="" >
      <img [hidden]="addImg[1]" src="assets/images/profile-white.png" width="20" height="" >
      <span id="pr2" class=" span-info tab-toggle">Profile</span>
      <span class="tooltiptext">Profile</span>
    </div>
    <div class="tab-header tab-tooltip" id="add" href="#head3" pageScroll [pageScrollInterruptible]="false"
    [pageScrollDuration]="500" (click)="changeColor(3)">
      <img [hidden]="!addImg[2]" src="assets/images/noun_Address_2085423.svg" width="20" height="" >
      <img [hidden]="addImg[2]" src="assets/images/address-details-white.png" width="20" height="" >
      <span id="add2" class=" span-info tab-toggle">Address Details</span>
      <span class="tooltiptext">Address Details</span>
    </div>
    <div class="tab-header tab-tooltip" id="pwd" href="#head4" pageScroll [pageScrollInterruptible]="false"
    [pageScrollDuration]="500" (click)="changeColor(4)"> 
      <img [hidden]="!addImg[3]" src="assets/images/password.svg" width="20" height="" >
      <img [hidden]="addImg[3]" src="assets/images/password-settings-white.png" width="20" height="" >
      <span id="pwd2" class="span-info tab-toggle">Password Settings</span>
      <span class="tooltiptext">Password Settings</span>
    </div>
    <div class="tab-header tab-tooltip" id="usrSet" href="#head5" pageScroll [pageScrollInterruptible]="false"
    [pageScrollDuration]="500" (click)="changeColor(5)"> 
      <img [hidden]="!addImg[4]" src="assets/images/user-settings.svg" width="20" height="" >
      <img [hidden]="addImg[4]" src="assets/images/user-settings-white.png" width="20" height="" >
      <span id="usrSet2" class="span-info tab-toggle">User Settings</span>
      <span class="tooltiptext">User Settings</span>
    </div>
    <div class="tab-header tab-tooltip" id="msg"  href="#head6" pageScroll [pageScrollInterruptible]="false"
    [pageScrollDuration]="500" (click)="changeColor(6)" > 
      <img [hidden]="!addImg[5]" src="assets/images/messaging.svg" width="23" height="" >
      <img [hidden]="addImg[5]" src="assets/images/messaging-white.png" width="23" height="" >
      <span id="msg2" class="span-info tab-toggle">Messaging</span>
      <span class="tooltiptext">Messaging</span>
    </div>
    <div class="tab-header  tab-tooltip" id="pvcyFeed" href="#head7" pageScroll [pageScrollInterruptible]="false"
    [pageScrollDuration]="500" (click)="changeColor(7)"> 
      <img [hidden]="!addImg[6]" src="assets/images/privacy-feedback.svg" width="27" height="" >
      <img [hidden]="addImg[6]" src="assets/images/privacy-white.png" width="27" height="" >
      <span id="pvcyFeed2" class="span-info tab-toggle">Privacy & feedback</span>
      <span class="tooltiptext">Privacy & feedback</span>
    </div>
    <div class="tab-header tab-tooltip" id="por" href="#head8" pageScroll [pageScrollInterruptible]="false"
    [pageScrollDuration]="500" (click)="changeColor(8)"> 
      <img [hidden]="!addImg[7]" src="assets/images/portal.svg" width="20" height="" >
      <img [hidden]="addImg[7]" src="assets/images/portal-white.png" width="20" height="" >
      <span id="por2" class="span-info tab-toggle">Portal</span>
      <span class="tooltiptext">Portal</span>
    </div>    
    <div class="tab-header tab-tooltip" id="hltcd" href="#head9" pageScroll [pageScrollInterruptible]="false"
    [pageScrollDuration]="500"  (click)="changeColor(9)"> 
      <img [hidden]="!addImg[8]" src="assets/images/healthcode.svg" width="22" height="" >
      <img [hidden]="addImg[8]" src="assets/images/healthcode-white.png" width="22" height="" >
      <span id="hltcd2" class="span-info tab-toggle">Healthcode</span>
      <span class="tooltiptext">Healthcode</span>
    </div>
    
</nav>
<div class="addUser-container">
    <!-- USER INFORMATION .. ... ... .. -->
  <div class="row tab-block" style="padding-top:105px" (click)="changeColor(1)" id="head1">
      <div class="col-md-4 flex-container-info" > 
       <div>
          <img src="assets/images/user-info.svg" width="42" height="" class="block-img">
       </div>
       <div>         
        <p class="block-header">User Information</p>
        <p class="block-comment">User demographic information</p>
       </div>
      </div>
      <div class="col-md-8 " >
        <table class="table table-responsive tableInfo">
          <tr>
            <th>Specialist code</th>
            <th>Login ID</th>
            <th>Site ID</th>
          </tr>
          <tr>
            <td>{{'SP930012'}}</td>
            <td>{{'00899000'}}</td>
            <td>{{'008999890'}}</td>
          </tr>
        </table>
        <br>
        <div class="row row-cls">
         
          <div class="col-lg-4 col-sm-12 form-group">
                <div class="form-group-styles">
                    <mat-form-field appearance="none" class="full-width">
                        <mat-label class="lab-cls">Title</mat-label>
                        <mat-select appearance="none">
                            <mat-option value="option">Mr.</mat-option>
                            <mat-option value="option">Ms.</mat-option>
                        </mat-select>      
                    </mat-form-field>
                    <img src="assets/images/select.png" width="" height="" class="select-icon-style">
                </div>
            </div>
          
            <div class="col-lg-4 col-sm-6 form-group">
                <div class="form-group-styles">
                    <mat-form-field class="full-width" appearance="none">
                        <mat-label class="lab-cls">Forename</mat-label>
                      <input matInput >
                    </mat-form-field>
                </div> 
            </div>
            <div class="col-lg-4 col-sm-6 form-group">
                <div class="form-group-styles">
                    <mat-form-field class="full-width" appearance="none">
                        <mat-label class="lab-cls">Surname</mat-label>
                      <input matInput >
                    </mat-form-field>
                </div> 
            </div>
        </div>
        <div class="row row-cls">
          <div class="col-lg-4 col-sm-12 form-group">
            <div class="form-group-styles">
                <mat-form-field class="full-width" appearance="none">
                    <mat-label class="lab-cls">Telephone</mat-label>
                  <input matInput type="number">
                </mat-form-field>
            </div> 
          </div>
          <div class="col-lg-4 col-sm-6 form-group">
            <div class="form-group-styles">
                <mat-form-field class="full-width" appearance="none">
                    <mat-label class="lab-cls">Fax</mat-label>
                  <input matInput type="number">
                </mat-form-field>
            </div> 
          </div>
          <div class="col-lg-4 col-sm-6 form-group">
            <div class="form-group-styles">
                <mat-form-field class="full-width" appearance="none">
                    <mat-label class="lab-cls">Email</mat-label>
                  <input matInput >
                </mat-form-field>
            </div> 
          </div>
        </div>
      </div>
  </div>
  <hr>
    <!-- PROFILE.... .. ... ... -->
  <div class="row tab-block" (click)="changeColor(2)" id="head2">
      <div class="col-md-4 flex-container-info"> 
       <div>
          <img src="assets/images/profile.svg" width="42" height="" class="block-img">
       </div>
       <div>         
        <p class="block-header">Profile</p>
        <p class="block-comment">User profile information</p>
       </div>
      </div>
      <div class="col-md-8" >
          <div class="">
              <div class="form-group form-group-styles">
                    <mat-form-field appearance="none" class="full-width">
                        <mat-label class="lab-cls">Access Profile</mat-label>
                        <mat-select appearance="none">
                            <mat-option value="option">EPB Unsubscribed User with NEW UI</mat-option>
                            <mat-option value="option">EPB Unsubscribed User with NEW UI - September</mat-option>
                            <mat-option value="option">EPB Unsubscribed User with NEW UI + PPR,SM & HD</mat-option>
                            <mat-option value="option">EPB Unsubscribed User with NEW UI + SM & HD</mat-option>
                            <mat-option value="option">EPB Unsubscribed User with NEW UI + View Notes</mat-option>
                            <mat-option value="option">EPB Unsubscribed User with NEW UI and PPR</mat-option>
                            <mat-option value="option">EPB Unsubscribed User with NEW UI and PPR+ Pathcloud</mat-option>
                        </mat-select>      
                    </mat-form-field>
                    <img src="assets/images/select.png" width="" height=""  class="select-icon-style">
                </div>
          </div>
          <br>
          <div class="table-responsive">
              <table class="table table-profile" >
              <thead>
                <tr>
                  <th>EPO</th>
                  <th>EFB</th>
                  <th>Hellenic</th>
                  <th>Message</th>
                  <th>VEDA</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>00037</td>
                  <td>CANCEL_EPB_BILL</td>
                  <td>00137</td>
                  <td>MESSAGING</td>
                  <td>00012</td>
                </tr>
                <tr>
                  <td>00041</td>
                  <td>CREATE_EPB_BILL</td>
                  <td></td>
                  <td></td>
                  <td>00027</td>
                </tr>
                <tr>
                  <td>EDIT_CONTACT_BOOK</td>
                  <td>EDIT_EPB_BILL</td>
                  <td></td>
                  <td></td>
                  <td>00039</td>
                </tr>
                <tr>
                  <td>EDIT_CONTACT_TYPES</td>
                  <td>EPB Edit Claims</td>
                  <td></td>
                  <td></td>
                  <td>00044</td>
                </tr>
                <tr>
                  <td>EDIT_DOCUMENT_SETTINGS</td>
                  <td>EPB_SEARCH_CODES</td>
                  <td></td>
                  <td></td>
                  <td>00093</td>
                </tr>

              </tbody>
            </table>
          </div>
          
      </div>
  </div>
  <hr>
  <!-- address ...s..... -->
  <div class="row tab-block" (click)="changeColor(3)" id="head3">
      <div class="col-md-4 flex-container-info"> 
       <div>
          <img src="assets/images/noun_Address_2085423.svg" width="42" height="" class="block-img">
       </div>
       <div>         
        <p class="block-header">Address Details</p>
        <!-- <p class="block-comment">Lorem Ipsum is simply dummy</p> -->
       </div>
      </div>
      <div class="col-md-8">
         <div class="row ">
            <div class="col-lg-8" style="border-right: 1px solid #E3E3E3; padding-right: 30px; ">
                <div class="row row-cls">
                    <div class="col-lg-6 col-sm-12 form-group ">
                        <div class="form-group-styles">
                            <mat-form-field appearance="none" class="full-width">
                                <mat-label class="lab-cls">Site</mat-label>
                                <mat-select appearance="none">
                                    <mat-option value="option">option1</mat-option>
                                    <mat-option value="option">option2</mat-option>
                                    <mat-option value="option">option2</mat-option>
                                </mat-select>      
                            </mat-form-field>
                            <img src="assets/images/select.png" width="" height=""  class="select-icon-style">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 form-group">
                        <div class="form-group-styles">
                            <mat-form-field appearance="none" class="full-width">
                                <mat-label class="lab-cls">Department</mat-label>
                                <mat-select appearance="none">
                                    <mat-option value="option">option1</mat-option>
                                    <mat-option value="option">option2</mat-option>
                                    <mat-option value="option">option2</mat-option>
                                </mat-select>      
                            </mat-form-field>
                            <img src="assets/images/select.png" width="" height="" class="select-icon-style">
                        </div>
                    </div>
                </div>                                        
                
                <div class="row row-cls">
                    <div class="col-lg-12 form-group">
                        <div class="form-group-styles-textarea">
                            <mat-form-field class="full-width" appearance="none">
                                <mat-label class="lab-cls">Address</mat-label>
                                <textarea matInput cdkTextareaAutosize style="overflow: hidden !important;"></textarea>
                            </mat-form-field>
                        </div> 
                    </div>                    
                </div>
                <div class="row row-cls">                    
                    <div class=" col-lg-6 form-group">
                        <div class="form-group-styles">
                            <mat-form-field class="full-width" appearance="none">
                                <mat-label class="lab-cls">Postcode</mat-label>
                              <input matInput >
                            </mat-form-field>
                        </div> 
                      </div>                    
                </div>

            </div>
            <div class="col-lg-4" style="padding-left: 30px;">
             <p style=" font-size: 14px; color:#94999D; font-weight: normal;">Specialist Address</p>
             <div>
               <p style="font-size: 18px; font-weight: 600;">Mr. Adam Addleson</p>
               <p style="font-size: 14px; font-weight: 600; color:#424D5C;">30 Sandringham Flats Charing Cross road London PIN: WC2H 0BJ</p>
             </div>
            </div>
         </div>
      </div>
  </div>
  <hr>
  <!-- password. .... ... -->
  <div class="row  tab-block" (click)="changeColor(4)" id="head4">
      <div class="col-md-4 flex-container-info"> 
       <div>
          <img src="assets/images/password.svg" width="42" height="" class="block-img">
       </div>
       <div>         
        <p class="block-header">Passwords</p>
        <!-- <p class="block-comment">Lorem Ipsum is simply dummy</p> -->
       </div>
      </div>
      <div class="col-md-8">
        <div class="row row-cls">
          <div class="col-lg-4 flex-container-info" >
              <div class="pvcy-semi">Active password</div>
              <div class="form-group" style="padding:10px;margin:0;">
                  <div class="checkbox checbox-switch switch-primary">
                      <label>
                          <input type="checkbox" name="" checked="" />
                          <span class="checkbox-pointer"></span>                                        
                      </label>
                  </div>
              </div>
          </div>
          <div class="col-lg-8 form-group">              
            <div class="form-group-styles">
                <mat-form-field class="full-width" appearance="none">
                    <mat-label class="lab-cls">Password</mat-label>
                  <input matInput type="password" >
                </mat-form-field>
            </div>                 
          </div>
        </div>
        <div class="row row-cls">
            <div class="col-lg-4 col-sm-12 form-group ">
                <div class="form-group-style"  style=" cursor:pointer; position:relative;">
                    <label for="exampleFormControlSelect1" class="lable-cls-date">Expiry date</label>                    
                    <input type="text" ngbDatepicker #pwd="ngbDatepicker" (click)="pwd.toggle()" class="date-input" placeholder="DD-MM-YYYY"/>
                   
                    <img src="assets/images/date.png" width="" height=""  style="pointer-events: none; position: absolute; top: 25px; right: 15px;">
                                   
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 form-group ">
                <div class="form-group-style" >
                    <label for="exampleFormControlSelect1" class="lable-cls">Violation count</label><br>
                    <div class="count-pad">{{valCount}}</div>
                
                    <img src="assets/images/plus.png" width="" height="" (click)="valTotal(1)" style="margin-top: -33px; float:right; cursor:pointer;">
                    <img src="assets/images/minus.png" width="" height="" (click)="valTotal(-1)" style="margin-top: -33px; margin-right: 35px; float:right; cursor:pointer;">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 form-group ">
                <div class="form-group-style" >
                    <label for="exampleFormControlSelect1" class="lable-cls">Login attempts</label><br>
                    <div class="count-pad">{{attemptCount}}</div>
                
                    <img src="assets/images/plus.png" width="" height="" (click)="attemptTotal(1)" style="margin-top: -33px; float:right; cursor:pointer;">
                    <img src="assets/images/minus.png" width="" height="" (click)="attemptTotal(-1)" style="margin-top: -33px; margin-right: 35px; float:right; cursor:pointer;">
                </div>
            </div>
          </div>
      </div>
  </div>
  <hr>
  <!-- USER SETTINGS ... ... .. -->
  <div class="row tab-block" (click)="changeColor(5)"  id="head5">
      <div class="col-md-4 flex-container-info"> 
       <div>
          <img src="assets/images/user-settings.svg" width="42" height="" class="block-img">
       </div>
       <div>         
        <p class="block-header">User Settings</p>
        <!-- <p class="block-comment">Lorem Ipsum is simply dummy</p> -->
       </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-lg-8">
            <div class="row row-cls">
                    <div class="col-lg-6 col-sm-12 form-group">
                        <div class="form-group-styles">
                            <mat-form-field class="full-width" appearance="none">
                                <mat-label class="lab-cls">Upload Dir</mat-label>
                              <input matInput >
                            </mat-form-field>
                        </div> 
                    </div>
                    <div class="col-lg-6 col-sm-12 form-group">
                        <div class="form-group-styles">
                            <mat-form-field class="full-width" appearance="none">
                                <mat-label class="lab-cls">Archive Dir</mat-label>
                              <input matInput >
                            </mat-form-field>
                        </div> 
                    </div> 
            </div> 
          </div>
          <div class="col-lg-4 flex-container-info" >
              <div class="pvcy-semi">File notification message</div>
              <div class="form-group" style="padding:10px;margin:0;">
                  <div class="checkbox checbox-switch switch-primary">
                      <label>
                          <input type="checkbox" name="" checked="" />
                          <span  class="checkbox-pointer"></span>                                        
                      </label>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
  <hr >
  <!-- MESSAGING.. ... ... .. -->
  <div id="" class="row tab-block" (click)="changeColor(6)" id="head6" >
      <div class="col-md-4 flex-container-info"> 
       <div>
          <img src="assets/images/messaging.svg" width="42" height="" class="block-img">
       </div>
       <div>         
        <p class="block-header">Messaging</p>
        <!-- <p class="block-comment">Lorem Ipsum is simply dummy</p> -->
       </div>
      </div>
      <div class="col-md-8">
        <div class="flex-container-info2" style="margin-bottom: 30px;">
            <div class="flex-container-info" >
                <div class="pvcy-semi">Show </div>
                <div class="form-group" style="padding:10px;margin:0;">
                    <div class="checkbox checbox-switch switch-primary">
                        <label>
                            <input type="checkbox" name="" checked="" />
                            <span class="checkbox-pointer"></span>                                        
                        </label>
                    </div>
                </div>
            </div>
            <div class=" flex-container-info" >
                <div class="pvcy-semi">Active</div>
                <div class="form-group" style="padding:10px;margin:0;">
                    <div class="checkbox checbox-switch switch-primary">
                        <label>
                            <input type="checkbox" name="" />
                            <span class="checkbox-pointer"></span>                                        
                        </label>
                    </div>
                </div>
            </div>
            <div class=" flex-container-info" >
                <div class="pvcy-semi">Public ID</div>
                <div class="form-group" style="padding:10px;margin:0;">
                    <div class="checkbox checbox-switch switch-primary">
                        <label>
                            <input type="checkbox" name="" checked="" />
                            <span class="checkbox-pointer"></span>                                        
                        </label>
                    </div>
                </div>
            </div>
            <div class=" flex-container-info" >
                <div class="pvcy-semi">Email Notification</div>
                <div class="form-group" style="padding:10px !important;margin:0; ">
                    <div class="checkbox checbox-switch switch-primary">
                        <label>
                            <input type="checkbox" name="" checked="" />
                            <span class="checkbox-pointer"></span>                                        
                        </label>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="row">
          <div class="col-lg-8">
              <div class="row row-cls">
                  <div class="col-lg-6 col-sm-12 form-group">
                    <div class="form-group-styles">
                        <mat-form-field class="full-width" appearance="none">
                            <mat-label class="lab-cls">Display Name</mat-label>
                          <input matInput >
                        </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12 form-group">
                    <div class="form-group-styles">
                        <mat-form-field class="full-width" appearance="none">
                            <mat-label class="lab-cls">Job Title</mat-label>
                          <input matInput >
                        </mat-form-field>
                    </div>
              </div> 
          </div> 
          </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="row row-cls">
                    <div class="col-lg-6 col-sm-12 form-group">
                        <div class="form-group-styles">
                            <mat-form-field appearance="none" class="full-width">
                                <mat-label class="lab-cls">Max — Msg</mat-label>
                                <mat-select appearance="none">
                                    <mat-option value="option">100</mat-option>
                                    <mat-option value="option">150</mat-option>
                                    <mat-option value="option">200</mat-option>
                                    <mat-option value="option">300</mat-option>
                                    <mat-option value="option">400</mat-option>
                                </mat-select>      
                            </mat-form-field>
                            <img src="assets/images/select.png" width="" height="" class="select-icon-style">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 form-group ">
                        <div class="form-group-styles">
                            <mat-form-field appearance="none" class="full-width">
                                <mat-label class="lab-cls">Max file size</mat-label>
                                <mat-select appearance="none">
                                    <mat-option value="option">1000</mat-option>
                                    <mat-option value="option">1500</mat-option>
                                    <mat-option value="option">2000</mat-option>
                                    <mat-option value="option">3000</mat-option>
                                </mat-select>      
                            </mat-form-field>
                            <img src="assets/images/select.png" width="" height="" class="select-icon-style">
                        </div>
                    </div>
            </div> 
            </div>
          </div>
      </div>
  </div>
  <hr>
  <!-- PRIVACY AND FEEDBACK... ... ... .. -->
  <div class="row tab-block" (click)="changeColor(7)" id="head7">
      <div class="col-md-4 flex-container-info"> 
       <div>
          <img src="assets/images/privacy-feedback.svg" width="42" height="" class="block-img">
       </div>
       <div>         
        <p class="block-header">Privacy & feedback</p>
        <!-- <p class="block-comment">Lorem Ipsum is simply dummy</p> -->
       </div>
      </div>
      <div class="col-md-8">
        <p class="pvcy-bold">I do not wish to receive promotional information from Healthcode Ltd by</p>
       <div class="flex-container-info " style="margin-bottom: 35px">
            <label class="customradio"><span class="pvcy-semi">Email</span>
                <input type="radio"  name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="customradio"><span class="pvcy-semi">Telephone</span>
                <input type="radio"  name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="customradio"><span class="pvcy-semi" >SMS</span>
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
        </div>
        <!-- <br> -->

       <p class="pvcy-bold">I do not wish Healthcode Ltd to use my data for Marketing purpose by</p>
       <div class="row" style="margin-bottom: 30px;">
         <div class="col-lg-6 col-md-12">
            <div class="row">
                <div class="col-lg-4 col-md-4 flex-container-info" style="align-items: center;">
                    <div class="pvcy-semi">Post</div>
                    <div class="form-group" style="padding:10px;margin:0;">
                        <div class="checkbox checbox-switch switch-primary">
                            <label style="margin:0;">
                            <input type="checkbox" name="" checked="" />
                                <span class="checkbox-pointer"></span>                                        
                            </label>
                        </div>
                    </div>     
                </div>
                <div class=" col-lg-8 col-md-8 form-group" >
                    <div class="form-group-styles">
                        <mat-form-field class="full-width" appearance="none">
                            <mat-label class="lab-cls">Enter email</mat-label>
                          <input matInput >
                        </mat-form-field>
                    </div>
                </div>
            </div> 
         </div>
       </div>
       <!-- <br> -->

       <p class="pvcy-bold">Do not contact this portal user</p>
       <div class="flex-container-info">
          <div class="pvcy-semi">Send</div>
          <div class="form-group" style="padding:10px;margin:0;">
              <div class="checkbox checbox-switch switch-primary">
                  <label style="margin:0;">
                     <input type="checkbox" name="" checked="" />
                        <span class="checkbox-pointer"></span>                                        
                  </label>
              </div>
          </div>
       </div>
       
      </div>
  </div>
  <hr>
  <!-- PORTAL ...... .. -->
  <div class="row tab-block" (click)="changeColor(8)" id="head8">
      <div class="col-md-4 flex-container-info"> 
       <div>
          <img src="assets/images/portal.svg" width="42" height="" class="block-img">
       </div>
       <div>         
        <p class="block-header">Portal</p>
        <!-- <p class="block-comment">Lorem Ipsum is simply dummy</p> -->
       </div>
      </div>
      <div class="col-md-8 form-group">
        <div class="form-group-styles-textarea">
            <mat-form-field class="full-width" appearance="none">
                <mat-label class="lab-cls">Enter note</mat-label>
                <textarea matInput cdkTextareaAutosize style="overflow: hidden !important;"></textarea>
            </mat-form-field>
        </div>
      </div>
  </div>
  <hr>
  
<!-- HEALTHCODE ... ... ..... -->
  <div class="row tab-block" (click)="changeColor(9)" id="head9">
      <div class="col-md-4 flex-container-info"> 
       <div>
          <img src="assets/images/healthcode.svg" width="42" height="" class="block-img">
       </div>
       <div>         
        <p class="block-header">Healthcode</p>
        <!-- <p class="block-comment">Lorem Ipsum is simply dummy</p> -->
       </div>
      </div>
      <div class="col-md-8">
          <div class="row">
                <div class="col-lg-4 col-sm-12 form-group ">
                    <div class="form-group-style"  style="cursor:pointer !important; position:relative;">
                        <label for="exampleFormControlSelect1" class="lable-cls-date" >Created on</label>
                        <input type="text" ngbDatepicker #health="ngbDatepicker" class="date-input" (click)="health.toggle()"  placeholder="DD-MM-YYYY"/>
                       
                        <img src="assets/images/date.png" width="" height="" style=" pointer-events: none; position: absolute; top: 25px; right: 15px;">
                    </div>
                </div>                
              <div class="col-lg-4 col-sm-6 form-group">
                <div class="form-group-styles">
                    <mat-form-field class="full-width" appearance="none">
                        <mat-label class="lab-cls">Created By</mat-label>
                      <input matInput >
                    </mat-form-field>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 form-group">
                    <div class="form-group-styles">
                        <mat-form-field appearance="none" class="full-width">
                            <mat-label class="lab-cls">Authorized By</mat-label>
                            <mat-select appearance="none">
                                <mat-option value="option">option1</mat-option>
                                <mat-option value="option">option2</mat-option>
                                <mat-option value="option">option2</mat-option>
                            </mat-select>      
                        </mat-form-field>
                        <img src="assets/images/select.png" width="" height="" class="select-icon-style">
                    </div>
              </div>
          </div>
      </div>
  </div>
  <hr>
  <br><br>
  
  <div class="flex-container-button">
      <!-- <button class="btn btn-light pvcy-semi"  (click)="switchAddUserContent('SP')" >CANCEL</button> -->
      <button class="btn btn-light pvcy-semi"  (click)="switchAddUserContent('SP')" (mouseup)="changeColor(1)">CANCEL</button>
      &nbsp;&nbsp;
      <button class="btn btn-primary pvcy-semi">SUBMIT</button>
  </div>
  <br>
  <br>
</div>
</div>